header{
    top: 0; left: 0; right: 0;
    background:antiquewhite;
    color:#F9577E;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'papyrus';
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}

a{
    color:#F9577E;
}

.navbar{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}